@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&family=Roboto:wght@400;500&display=swap');

.app-wrapper {
  font-family: 'Roboto', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #343434;
  font-size: .94rem;
}